In [2]:
import pandas as pd
from pandas import DataFrame
import numpy as np
from numpy import nan as NaN
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.figure_factory as ff
import plotly.graph_objects as go
import plotly

In [3]:
trans=pd.read_csv('./data/Transaction_Final.csv')
cus=pd.read_csv('./data/CUSTOMERMASTER_NEW.csv',delimiter=',')
temp=pd.read_csv('./data/TEMPXMLFILEDATA.csv',delimiter=',')
merge=pd.read_csv('./data/mergefinal.csv')

/var/folders/1n/t163z0qd6zx1s6_xwvg15mmh0000gn/T/ipykernel_61377/1915547714.py:3: DtypeWarning: Columns (13,15,26,31) have mixed types. Specify dtype option on import or set low_memory=False.
  temp=pd.read_csv('./data/TEMPXMLFILEDATA.csv',delimiter=',')
/var/folders/1n/t163z0qd6zx1s6_xwvg15mmh0000gn/T/ipykernel_61377/1915547714.py:4: DtypeWarning: Columns (17,19,21,25,26,27,29,30,31,32,34) have mixed types. Specify dtype option on import or set low_memory=False.
  merge=pd.read_csv('./data/mergefinal.csv')

In [113]:
#merge=merge[merge['ISPAYMENTPENDING']=='True']
#merge[['CUSTOMERID','ISPAYMENTPENDING']].value_counts().head(20)

CUSTOMERID  ISPAYMENTPENDING
64          True                72
53          True                39
49          True                29
2           True                16
56          True                12
54          True                 4
62          True                 4
3           True                 3
29          True                 2
4           True                 1
7           True                 1
30          True                 1
39          True                 1
63          True                 1
66          True                 1
dtype: int64

In [4]:
merge['COMPANYNAME'].value_counts().index

Index(['Maria Jose Vega Galvez', 'Todo para mi Chevy',
       'SUSTENTA ECO JARDINERIA', 'ALUMINIO MONARCA',
       'RMB SERVICIOS EN INTERNET NETCLICK', 'PCO Auto',
       'Jes˙s Christopher LÛpez Gonz·lez', 'Dot Factory ',
       'Veterinaria Ofelia Robledo', 'Araceli Mendoza',
       ...
       'CARLOS DANIEL BARRANCO BELTRAN', 'Alejandra Ambia Garrido', 'Miletus',
       'Empresa Prueba',
       'HC CONSTRUCCION, DISE—O Y MANTENIMIENTO INDUSTRIA SA DE CV',
       'LIZBETT GUADARRAMA  HERNANDEZ', 'CONTAAYUDA S.A.P.I. DE C.V.',
       'Paola Duran Hernandez', 'Carmen Ramirez Martin del Campo',
       'RCKFLR DESARROLLO Y CONSULTORIA WEB'],
      dtype='object', length=123)

In [5]:
merge2=merge[merge['CUSTOMERID']==64]
merge2.columns

Index(['Unnamed: 0', 'CUSTOMERID', 'FIRSTNAME', 'LASTNAME', 'COMPANYNAME',
       'CURRENCYID', 'TAXID', 'REGIME', 'XMLCOUNT', 'DATE', 'INVOICETYPE',
       'CREATEDBY_USER', 'RECEIVEDTAXID', 'RECEIVEDBY', 'PRODUCTDESC',
       'TOTALTAXTRASADAS', 'TOTALREGISTERTAX', 'VATTAX', 'VATAMOUNT',
       'INCOMETAX', 'INCOMETAXAMT', 'VAT', 'VATAMT', 'TOTALBEFORTAX',
       'TOTALAFTERTAX', 'TRANSACTIONID', 'CREATEDDATE', 'USERSTATUS',
       'AMOUNTPAID', 'ISPAYMENTPENDING', 'INVOICETYPE_INITIAL',
       'PAYMETHODCODE', 'INVOICETYPE_INITIAL_ORIGINAL', 'XMLIEPSTAX',
       'XMLCURRENCY'],
      dtype='object')

In [24]:
merge_filtrado=merge2.sort_values(by='RECEIVEDBY')
ingre=merge_filtrado[merge_filtrado['INVOICETYPE']=='ingreso']
ingre=ingre[['RECEIVEDBY','INVOICETYPE']].sort_values(by='RECEIVEDBY').value_counts()
name=merge2['RECEIVEDBY'].value_counts().index
val=merge2['RECEIVEDBY'].value_counts().values
Pastel=pd.DataFrame()
Pastel['RECEIVEDBY']=name
#Pastel['Count']=
merge_filtrado['RECEIVEDBY']

46334                       0
46281                       0
46351                       0
46322                       0
46349                       0
                 ...
48738    ÁNGEL OLVERA PACHECO
46499    ÁNGEL OLVERA PACHECO
46520    ÁNGEL OLVERA PACHECO
48814    ÁNGEL OLVERA PACHECO
48809    ÁNGEL OLVERA PACHECO
Name: RECEIVEDBY, Length: 3243, dtype: object

In [12]:
#merge3=merge2['INVOICETYPE'].value_counts()
merge=pd.read_csv('./data/mergefinal.csv')
merge2=merge[merge['CUSTOMERID']==64]
merge3=merge2.loc[(merge2['PAYMETHODCODE']!='PUE') & (merge2['PAYMETHODCODE']!='0')]
merge3=merge3.loc[(merge3['INVOICETYPE']!='P') & (merge3['INVOICETYPE']!='p') & (merge3['INVOICETYPE']!='pago')]
Fact_No_Pagada=merge3['INVOICETYPE'].value_counts().sum()
merge4=merge2.loc[(merge2['PAYMETHODCODE']=='PUE')] #& (merge2['PAYMETHODCODE']!='0')]
merge5=merge2.loc[(merge2['PAYMETHODCODE']!='PUE') & (merge2['PAYMETHODCODE']!='0')]
merge5=merge5.loc[(merge5['INVOICETYPE']=='P') & (merge5['INVOICETYPE']=='p') & (merge5['INVOICETYPE']=='pago')]
Fact_Pagada=merge4['INVOICETYPE'].value_counts().sum()
Fact_Pagada += merge5['INVOICETYPE'].value_counts().sum()
labels=['Pagada','No Pagada']
values=[Fact_Pagada,Fact_No_Pagada]
fig = go.Figure(data=[go.Pie(labels=labels, values=values)])

/var/folders/1n/t163z0qd6zx1s6_xwvg15mmh0000gn/T/ipykernel_56468/4018737958.py:2: DtypeWarning: Columns (17,19,21,25,26,27,29,30,31,32,34) have mixed types. Specify dtype option on import or set low_memory=False.
  merge=pd.read_csv('./data/mergefinal.csv')

253
2128

ValueError: If using all scalar values, you must pass an index

In [220]:
#merge2[['USERSTATUS','TRANSACTIONID','INVOICETYPE','INVOICETYPE_INITIAL','INVOICETYPE_INITIAL_ORIGINAL','ISPAYMENTPENDING']]
merge3=merge2[merge2['INVOICETYPE']=='ingreso']
#merge3=merge2[merge2['ISPAYMENTPENDING']=='True']
#merge3=merge2[merge2['INCOMETAXAMT']==2500]
#VER SI HAY RELACIÓN ENTRE UUID Y RFC CLIENTE
merge2[['TRANSACTIONID','TAXID','RECEIVEDTAXID']] #NO HAY RELACION

#SABER SI EXISTE "P"
merge2['INVOICETYPE'].value_counts() # EXISTE (P,p,pago) para representar lo mismo

#SABER QUE CLIENTE ME FACTURAN MÁS
Clientes=merge2['RECEIVEDBY'].value_counts().index
Facturas=merge2['RECEIVEDBY'].value_counts().values
Top_clientes=pd.DataFrame()
Top_clientes['Cliente']=Clientes
Top_clientes['#Facturas']=Facturas
Top_clientes

#SABER SI EXISTEN FACTURAS PENDIENTE DE PAGAR
#merge3[['INVOICETYPE','ISPAYMENTPENDING','RECEIVEDBY']].value_counts()
#merge3[['DATE','CREATEDDATE','COMPANYNAME','INVOICETYPE','ISPAYMENTPENDING','RECEIVEDBY','TOTALBEFORTAX','TOTALAFTERTAX']]
#CALCULAR DÍAS PENDIENTES DE LA FACTURA (HOY-DATE Ó HOY-CREATEDDATE)

#CALCULOS PARA GRÁFICO DE CASCADA DE IMPUESTOS
#merge2[['TOTALBEFORTAX','INCOMETAX','INCOMETAXAMT','VAT','VATAMOUNT','VATAMT','TOTALAFTERTAX']]
#merge2['INCOMETAXAMT'].value_counts()

                                               Cliente  #Facturas
0    Fabricacion de Maquinaria Industrial Especiali...        381
1                       Radiomóvil Dipsa, S.A. de C.V.        151
2                           FERREHERRAMIENTAS SA DE CV        145
3    FABRICACION DE MAQUINARIA INDUSTRIAL ESPECIALI...        127
4                                 ARTEMIO RIVAS LOVERA         88
..                                                 ...        ...
411                             RODRIGO CHACON VAZQUEZ          1
412                           ERNESTO SANCHEZ GONZALEZ          1
413                                GRUPO MADERERO MAVA          1
414                               SALVADOR REYES GOMEZ          1
415     OPERADORA DE MINIESTACIONES COMBUSERV SA DE CV          1

[416 rows x 2 columns]

In [173]:
var= merge2.loc[[merge2]]

[-1, 2]

In [172]:
lista1=[]
lista2=[]
lista1.append((merge2['INVOICETYPE'].value_counts())[0])
lista2.append((merge2['INVOICETYPE'].value_counts()).index[0])
lista1.append((merge2['INVOICETYPE'].value_counts())[1])
lista2.append((merge2['INVOICETYPE'].value_counts()).index[1])
print(lista2)
print(lista1)
barra=pd.DataFrame()
barra['Factura']=lista2
barra['Total']=lista1

['egreso', 'ingreso']
[2884, 173]

In [15]:
cus.columns
lista=['COMPANYID', 'BRANCHID', 'FIRSTNAME', 'LASTNAME',
       'COMPANYNAME', 'CITY', 'STATE', 'ZIPCODE', 'COUNTRY']
cus[lista]
lista2=[]
for i in lista:
    lista2.append(cus[i])
print(lista2)

[0      1000
1      1000
2      1000
3      1000
4      1000
       ...
123    1000
124    1000
125    1000
126    1000
127    1000
Name: COMPANYID, Length: 128, dtype: int64, 0      1
1      1
2      1
3      1
4      1
      ..
123    1
124    1
125    1
126    1
127    1
Name: BRANCHID, Length: 128, dtype: int64, 0                                            AIDA CORRES
1                                  CARLOS ENRIQUE GARCIA
2      SERVICIO LAVAUTOMATICO SOCIEDAD ANONIMA DE CAP...
3                                                 GIPIAN
4                                          REGINA FRANCO
                             ...
123                                                  NaN
124                                          PAOLA DURAN
125                            CARMEN RAMIREZ MARTIN DEL
126                                   LIZBETT GUADARRAMA
127                                       JORGE RUBIO DE
Name: FIRSTNAME, Length: 128, dtype: object, 0         ERNULT
1        HERRERA
2       VARIABLE
3         MEXICO
4       BERROCAL
         ...
123        NUMID
124    HERNANDEZ
125        CAMPO
126    HERNANDEZ
127         ALBA
Name: LASTNAME, Length: 128, dtype: object, 0                 Una mano para Oaxaca
1            Kane - Creative Marketing
2               SERVICIO LAVAUTOMATICO
3                        GIPIAN MEXICO
4                         Dot Factory
                    ...
123                   NUMID SAPI de CV
124              Paola Duran Hernandez
125    Carmen Ramirez Martin del Campo
126      LIZBETT GUADARRAMA  HERNANDEZ
127                Jorge Rubio De Alba
Name: COMPANYNAME, Length: 128, dtype: object, 0           Queretaro
1           Queretaro
2           Queretaro
3      Tequisquiapan
4           Queretaro
            ...
123               NaN
124               NaN
125               NaN
126               NaN
127               NaN
Name: CITY, Length: 128, dtype: object, 0      Queretaro
1      Queretaro
2      Queretaro
3      Queretaro
4      Queretaro
         ...
123          NaN
124          NaN
125          NaN
126          NaN
127          NaN
Name: STATE, Length: 128, dtype: object, 0      76158.0
1      76000.0
2      76903.0
3      76799.0
4      76146.0
        ...
123        NaN
124        NaN
125        NaN
126        NaN
127        NaN
Name: ZIPCODE, Length: 128, dtype: float64, 0      4.0
1      4.0
2      4.0
3      4.0
4      4.0
      ...
123    4.0
124    4.0
125    4.0
126    4.0
127    4.0
Name: COUNTRY, Length: 128, dtype: float64]

In [9]:
cus.head(10)

,CUSTOMERID,COMPANYID,BRANCHID,FIRSTNAME,LASTNAME,COMPANYNAME,CITY,STATE,ZIPCODE,COUNTRY,...,CUSTOMERID.1,DELETESTATUS,TAXID,DURATIONFROM,DURATIONTO,CREATEDBY,MODIFIEDBY,MODIFIEDDATETIME,REGIME,XMLCOUNT
0,1,1000,1,AIDA CORRES,ERNULT,Una mano para Oaxaca,Queretaro,Queretaro,76158.0,4.0,...,1,NaN,COEA9201018W6,01/01/20 0:00,31/03/20 0:00,1,1.0,47:33.5,NaN,41
1,2,1000,1,CARLOS ENRIQUE GARCIA,HERRERA,Kane - Creative Marketing,Queretaro,Queretaro,76000.0,4.0,...,2,NaN,GAHC840728IM3,23/06/16 0:00,28/02/22 0:00,1,1.0,10:56.6,22.0,298
2,3,1000,1,SERVICIO LAVAUTOMATICO SOCIEDAD ANONIMA DE CAP...,VARIABLE,SERVICIO LAVAUTOMATICO,Queretaro,Queretaro,76903.0,4.0,...,3,NaN,SLA160812R96,23/11/17 0:00,23/11/19 0:00,1,180.0,29:28.4,NaN,53
3,4,1000,1,GIPIAN,MEXICO,GIPIAN MEXICO,Tequisquiapan,Queretaro,76799.0,4.0,...,4,NaN,GME131105EDA,11/11/17 0:00,11/11/19 0:00,1,180.0,40:08.8,14.0,91
4,7,1000,1,REGINA FRANCO,BERROCAL,Dot Factory,Queretaro,Queretaro,76146.0,4.0,...,7,NaN,FABR681228NG5,27/12/17 0:00,27/12/18 0:00,1,41.0,45:37.5,22.0,68
5,20,1000,1,ANA MARIA CARDENAS,ANGUIANO,Kumon - Ana Cardenas,Queretaro,Queretaro,76908.0,4.0,...,20,NaN,CAAA780607EG8,11/10/17 0:00,11/10/18 0:00,1,180.0,23:43.7,22.0,180
6,21,1000,1,RAQUEL,CREGO,Kumon - Raquel Crego,Queretaro,Queretaro,76160.0,4.0,...,21,NaN,CERA8812209J6,17/07/17 0:00,17/07/18 0:00,1,180.0,10:02.1,35.0,1035
7,23,1000,1,JAIME HERNAN MARTINEZ,ROSILLO,122,QuerÈtaro,QuerÈtaro,NaN,NaN,...,23,NaN,MARJ850405DM1,01/06/17 0:00,01/06/19 0:00,1,180.0,20:39.6,35.0,5
8,24,1000,1,RUY CASTILLO,ROBLEDO,Lignum Financial Services,NaN,NaN,NaN,4.0,...,24,NaN,CARR890624GL6,05/10/17 0:00,05/10/18 0:00,1,180.0,01:23.8,22.0,82
9,29,1000,1,PEDRO DEL COLLADO,AZUELA,PCO Auto,QuerÈtaro,QurÈtaro,76147.0,4.0,...,29,NaN,COAP640416HH6,04/10/17 0:00,04/10/18 0:00,1,180.0,05:36.2,35.0,649